@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

* {
    box-sizing: border-box;
}

/* Pseudo-class for variables */
:root {
    /* light mode */
    --light1: #faf7ef;
    /* gritlab bg */
    --light2: #ffbc31;
    /* gritlab yellow */
    --light3: #ea5f69;
    /* gritlab red */
    --light4: #5562eb;
    /* gritlab purple */
    --light5: #0e1342;
    /* gritlab blue */
    --light-shadow: rgba(104, 104, 104, 0.244);
    /* dark mode */
    --dark1: rgb(60, 60, 60);
    --dark2: rgb(40, 40, 40);
    --dark3: rgb(20, 20, 20);
    --dark4: black;
    --dark-shadow: rgba(255, 255, 255, 0.05);
    --dark-text: white;
    /* used during both */
    --neutral-text: rgb(120, 120, 120);
}

/* Global styles */
body {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--light5);
    margin: 0;
    padding: 0;
    background-color: var(--light1);

    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Fill the viewport for the sticky footer*/
}

.container {
    display: -webkit-flex;
    display: flex;
    flex: 1;
}

.leftnav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    padding: 10px;
    margin-left: 0;
    overflow-y: auto;
}

.rightnav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    padding: 10px;
    margin-left: 0;
    overflow-y: auto;
}

/* Main */
.content {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-size: clamp(12px, 1vw, 18px);
    padding: 2rem clamp(20px, 3, 32px);
    overflow-y: auto;

}

input {
    text-decoration: none;
    border: none;
    padding: 6px;
    top: 0;
    resize: vertical;
    font-size: clamp(12px, 1vw, 18px);
}

button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--light2);
    color: var(--light5);
    padding: 10px;
    border-radius: 4px;
    font-family: "Space Grotesk", serif;
    font-size: clamp(12px, 1vw, 18px);
}

.newpostModal input[type="text"],
textarea {
    text-decoration: none;
    border: none;
    padding: 6px;
    width: 100%;
    top: 0;
    resize: vertical;
    font-size: clamp(12px, 1vw, 18px);
}

.newpostModal input[type="text"] {
    margin-bottom: 4px;
}

.newpost button,
.thread-button {
    /* display: inline-block; */
    display: inline-flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--light2);
    color: var(--light5);
    padding: 10px;
    border-radius: 4px;
    font-family: "Space Grotesk", serif;
    font-size: clamp(12px, 1vw, 18px);

    gap: 0.5rem;
    /* Add spacing between the icon and text */
}

input[type="reset"] {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: lightgray;
    color: var(--light5);
    padding: 10px;
    width: auto;
    border-radius: 4px;
    font-family: "Space Grotesk", serif;
    font-size: clamp(12px, 1vw, 18px);
}

.newpost button:hover,
input[type="reset"]:hover,
.thread-button:hover {
    color: var(--light1);
    background-color: var(--light5);
}

.content-line {
    display: flex;
    /* Keep icon and text on one line */
    align-items: center;
    /* Center vertically */
}

.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
}

.categories {
    font-size: smaller;
}


/* The Modal (background) */
.newpostModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
    background-color: var(--light1);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border: 2px solid lightgrey;
    border-radius: 8px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Filter style */
/* .filter select {
    text-decoration: none;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    top: 0;
    font-family: "Space Grotesk", serif;
}

.filter button,
.filter input[type="button"] {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--light2);
    color: var(--light5);
    padding: 10px;
    border-radius: 4px;
    font-family: "Space Grotesk", serif;
    font-size: clamp(12px, 1vw, 18px);
}

.filter button:hover,
.filter input[type="button"]:hover {
    background-color: var(--light5);
    color: var(--light1);
}

.filter input[type="search"] {
    text-decoration: none;
    border: none;
    height: 40px;
    border-radius: 4px;
    margin: 0;
    padding: 10px;
    width: 300px;
    top: 0;
} */

/* Filter layout flexbox */
.flex-container {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    /* Space between elements */
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
    border: 1px solid lightgrey;
}

.row {
    display: flex;
    flex-direction: row;
    /* Rows are horizontal */
    gap: 10px;
    /* Space between columns */
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    /* Space between nested rows */
    padding: 10px;
    /* background-color: #eaeaea; */
}

.flex-container  select {
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-family: "Space Grotesk", serif;
    width: 100%;
}

.flex-container  button,
.flex-container  input[type="button"] {
    background-color: var(--light2);
    color: var(--light5);
    font-family: "Space Grotesk", serif;
    font-size: clamp(12px, 1vw, 18px);
}

.flex-container button:hover,
.flex-container input[type="button"]:hover {
    background-color: var(--light5);
    color: var(--light1);
}

.flex-container input[type="search"] {
    border: none;
    height: 40px;
    border-radius: 4px;
    width: 100%;
    font-family: "Space Grotesk", serif;
    font-size: clamp(12px, 1vw, 18px);
}

/* Div post */
.allthreads {
    margin-top: 10px;
}

.allthreads ul,
.thread ul {
    padding: 0;
    list-style: none;
}

.threadbox {
    border-top: 1px solid lightgrey;
    padding: 8px;
}

.threadbox span,
.thread span {
    vertical-align: middle;
    margin-right: 4px;
}

.threadbox h3 {
    margin-right: 10%;
}

/* Thread page */
.thread {
    list-style: none;
    border-bottom: 1px solid lightgrey;
    padding: 8px;
    margin: 4px;
}

.thread .material-symbols-outlined {
    font-size: clamp(16px, 2vw, 24px);
}

.thread li {
    padding-top: 8px;
    vertical-align: middle;
}

.thread li .like-dislike-cell {
    margin-top: 10px;
}

/* Table styles */
/* table {
    width: 100%;
    max-width: 90%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    overflow-x: auto;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    left: 235px;
    right: 0;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}

th {
    background-color: #f4f4f4;
}

td {
    background-color: #fafafa;
} */

/* No bullets to list*/
ul {
    list-style-type: none;
}

/* Link styles */
a {
    /* color: #007bff; */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Form styles */
input {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

textarea {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
    resize: vertical;
}

/* Header styling */
.header {
    position: sticky;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    max-width: 100%;
}

h1 {
    font-family: "Major Mono Display", serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 3rem);
}

h1 a {
    color: black;
}

h1 a:hover {
    color: rgb(59, 80, 109);
    text-decoration: none;
    /* No underline */
}

.subtitle {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    text-align: center;
    font-size: clamp(.3rem, 3vw, 1rem);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 800,
        'GRAD' 0,
        'opsz' 48;
    font-size: clamp(20px, 3vw, 32px);
}

.topnav {

    text-align: center;
    top: 0;
    bottom: 0;
    width: 100%;
    vertical-align: middle;
}

.topnav ul {
    list-style-type: none;
    grid-auto-flow: column;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: var(--light2);
    position: sticky;
    max-height: fit-content;
}

.topnav li {
    float: left;
    display: flex;
    /* Ensures child elements align uniformly */
    justify-content: center;
    align-items: center;
}

.topnav li a,
.topnav li button,
.topnav input[type="button"],
.topnav input[type="radio"] {
    display: inline-block;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: none;
    margin: 6px;
    padding: 10px;
    color: var(--light5);
    vertical-align: middle;
    font-family: "Space Grotesk", serif;
    font-size: clamp(12px, 1vw, 18px);
}

.topnav label {
    margin-right: 6px;
    color: var(--light5);
    vertical-align: middle;
    font-family: "Space Grotesk", serif;
    font-size: clamp(12px, 1vw, 18px);
}

.topnav li a:hover,
.topnav li button:hover,
.topnav input[type="button"]:hover {
    color: var(--light1);
    background-color: var(--light5);
    cursor: pointer;
    border-radius: 4px;
}

/* Footer */
.footer {
    align-items: center;
    margin: 0;
    padding: 10px;
    text-align: center;
    max-width: 100%;
    background-color: #ddd;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    input[type="search"] {
        max-width: 100px;
    }

    .container {
        max-width: 100%;
        padding: 10px;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

@media screen and (max-width: 300px) {
    input[type="search"] {
        max-width: 100px;
    }

    .container {
        padding: 10px;
        max-width: 100%;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

/* Dark Mode */
.dark-mode {
    background-color: var(--dark1);
    color: var(--dark-text);
}

.dark-mode footer {
    background-color: var(--dark5);
    color: var(--dark-text);
}

.dark-mode h1,
.dark-mode .subtitle {
    color: var(--dark-text);
}

.dark-mode .topnav {
    color: var(--light5);
}

.dark-mode a {
    color: yellow;
}