{{define "footer"}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<footer>
    <div class="footer-text">Created in 2025 by</div>
    <div id="author-container">
        <a href="https://github.com/MarkusYPA" class="authors" id="author-1">Markus</a>
        <a href="https://github.com/jeeeeedi" class="authors" id="author-2">Jedi</a>
        <a href="https://github.com/An1Su" class="authors" id="author-3">Anastasia</a>
        <a href="https://github.com/cmbigk" class="authors" id="author-4">Chan</a>
        <a href="https://github.com/olegamobile" class="authors" id="author-5">Oleg</a>
    </div>
</footer>
{{end}}
