<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grit:lab Fika Café</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/categories.css">
</head>

<body>
    <div class="wrapper">
        {{ template "header" . }}

        <div class="container">
            <div class="leftnav">
                <!-- <p>leftnav: possible place to put categories</p> -->
            </div>

            <div class="content">

                <!-- Form to start a thread -->
                <div class="newpost">

                    {{if .ValidSes}}
                    <!-- Trigger/Open The Modal -->
                    <button class="modalBtn" id="modalBtn" style="margin: 40px 0px 20px;"><span
                            class="material-symbols-outlined">add</span>Start a new thread</button>

                    <!-- The Modal -->
                    <div class="newpostModal" id="newpostModal">
                        <!-- Modal content -->
                        <div class="modal-content"> <span class="close">&times;</span>
                            <h3>Start a new thread</h3>
                            <form method="POST" action="/add" enctype="multipart/form-data">
                                <input type="text" name="title" placeholder="Thread title" maxlength="{{.TitleMaxLen}}" required><br>
                                <textarea name="content" placeholder="Message" rows="6" maxlength="{{.ContentMaxLen}}" required></textarea><br>
                                <input type="text" name="categories" placeholder="List categories" maxlength="{{.CategoriesMaxLen}}" required><br>
                                    <label for="files" class="custom-file-button">Add Image</label>
                                    <button type="submit" id="submitButton" style="float: right;" >Start thread</button>
                                    <input type="reset" value="Clear all" style="float: right;" />
                                    <input type="file" id="files" name="files" multiple accept="image/*" onchange="updateFileList()">
                                    <p id="warning" class="warning"></p>
                                    <div id="previewContainer" class="preview-container"></div>
                            </form>
                        </div>
                    </div>

                    {{else}}
                    <p><a href="/login">Log in</a> to start posting!</p>
                    <p class="red-alert">{{.Message}}</p>
                    {{end}}
                </div>

                <!-- Show filter button -->
                <button class="thread-button" id="filter-button" style="margin: 10px 0px 20px;"><span
                        class="material-symbols-outlined">filter_alt</span>Show filter</button>

                <!-- Filter -->
                <div id="show-filter">
                    <form method="POST" action="/">
                        <h3>Filter threads</h3>
                        <div class="filter-container">

                            <!-- First column -->
                            <div class="col">
                                <div class="row"><input type="search" id="search-categories" name="usersearch"
                                        value="{{.Search}}" placeholder="Search categories" maxlength="200"></div>
                                <div class="row"><input type="radio" id="any" name="multisearch" value="any" checked>
                                    <label for="any">Match any</label>
                                    <input type="radio" id="all" name="multisearch" value="all" {{if eq .Multisearch "all" }}checked="checked" {{end}}>
                                    <label for="all">Match all</label>
                                </div>
                                <div class="row"><button type="submit" name="searchcat" value="search">Search</button>
                                </div>
                            </div>

                            <!-- Second column -->
                            {{if .ValidSes}}
                            <div class="col">
                                <select name="todisplay" id="todisplay">
                                    <option value="all" {{if eq .Selection "all" }}selected{{end}}>All</option>
                                    <option value="created" {{if eq .Selection "created" }}selected{{end}}>Created by me
                                    </option>
                                    <option value="liked" {{if eq .Selection "liked" }}selected{{end}}>Liked by me</option>
                                    <option value="disliked" {{if eq .Selection "disliked" }}selected{{end}}>Disliked by me
                                    </option>
                                </select>
                                <button type="submit" name="updatesel" value="update">Show
                                    selection</button>
                            </div>
                            {{end}}

                            <!-- Third column -->
                            <div class="col">
                                <p></p>
                                <button type="submit" name="reset" value="reset" style="float: right;">Reset
                                    filter</button>
                            </div>
                        </div>
                    </form>
                </div>

                <h2>Threads</h2>

                <!-- Div for each post -->
                <div class="allthreads">
                    {{range .Threads}}
                        <div class="thread">
                            <div style="float: right;"><a href="/thread/{{.ID}}"><span class="material-symbols-outlined">comment</span>{{.RepliesN}}</a></div>
                            <div class="thread-title"><a href="/thread/{{.ID}}">{{.Title}}</a></div>
                            <div class="thread-meta"><span class="material-symbols-outlined">person</span> {{.Author}} posted on {{.CreatedDay}} {{.CreatedTime}}</div>
                            <div class="thread-content"> <span class="truncate">{{.Content }}</span></div>
                            <form method="POST" action="/">
                                <input type="hidden" name="searchcat" value="search">
                                <div class="tags"><span class="material-symbols-outlined">category</span>
                                    {{ range .CatsSlice }}<button type="submit" class="tag" name="usersearch" value="{{.}}">{{.}}</button>{{ end }}
                                </div>
                            </form>
                    </div>
                    {{end}}
                </div>
            </div>

            <div class="rightnav">
                <!-- <p>rightnav: placeholder for rightnav</p> -->
            </div>

        </div>

        {{ template "footer" .}}

    </div>

    <script src="/static/ui-functions.js"></script>
    <script src="/static/home-functions.js"></script>
    <script src="/static/image_upload.js"></script>
</body>

</html>