<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grit:lab Fika Café</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="wrapper">
        {{ template "header" . }}

        <div class="container">
            <div class="leftnav">
                <!-- <p>leftnav: possible place to put categories</p> -->
            </div>

            <div class="content">

                <!-- Form to start a thread -->
                <div class="newpost">

                    {{if .ValidSes}}
                    <!-- Trigger/Open The Modal -->
                    <button id="modalBtn" style="margin: 40px 0px 20px;"><span
                            class="material-symbols-outlined">add</span>Start a new thread</button>

                    <!-- The Modal -->
                    <div class="newpostModal" id="newpostModal">
                        <!-- Modal content -->
                        <div class="modal-content"> <span class="close">&times;</span>
                            <h3>Start a new thread</h3>
                            <form method="POST" action="/add">
                                <input type="text" name="title" placeholder="Thread title" maxlength="{{.TitleMaxLen}}"
                                    required><br>
                                <textarea name="content" placeholder="Message" rows="6" maxlength="{{.ContentMaxLen}}"
                                    required></textarea><br>
                                <input type="text" name="categories" placeholder="List categories"
                                    maxlength="{{.CategoriesMaxLen}}" required><br><br>
                                <input type="reset" value="Clear all" style="float: right;" /> <button
                                    type="submit">Start
                                    thread</button>
                            </form>
                        </div>
                    </div>

                    {{else}}
                    <p><a href="/login">Log in</a> to start posting!</p>
                    <p class="red-alert">{{.Message}}</p>
                    {{end}}
                </div>

                <!-- Show filter button -->
                <button class="thread-button" id="filter-button" style="margin: 10px 0px 20px;"><span
                        class="material-symbols-outlined">filter_alt</span>Show filter</button>

                <!-- Filter -->
                <div id="show-filter">
                    <form method="POST" action="/">
                        <h3>Filter threads</h3>
                        <div class="filter-container">

                            <!-- First column -->
                            <div class="col">
                                <div class="row"><input type="search" id="search-categories" name="usersearch"
                                        value="{{.Search}}" placeholder="Search categories" maxlength="200"></div>
                                <div class="row"><input type="radio" id="any" name="multisearch" value="any" checked>
                                    <label for="any">Match any</label>
                                    <input type="radio" id="all" name="multisearch" value="all" {{if eq
                                        .Multisearch "all" }}checked="checked" {{end}}>
                                    <label for="all">Match all</label>
                                </div>
                                <div class="row"><button type="submit" name="searchcat" value="search">Search</button>
                                </div>
                            </div>

                            <!-- Second column -->
                            {{if .ValidSes}}
                            <div class="col">
                                <select name="todisplay" id="todisplay">
                                    <option value="all" {{if eq .Selection "all" }}selected{{end}}>All</option>
                                    <option value="created" {{if eq .Selection "created" }}selected{{end}}>Created by me
                                    </option>
                                    <option value="liked" {{if eq .Selection "liked" }}selected{{end}}>Liked by me</option>
                                    <option value="disliked" {{if eq .Selection "disliked" }}selected{{end}}>Disliked by me
                                    </option>
                                </select>
                                <button type="submit" name="updatesel" value="update">Show
                                    selection</button>
                            </div>
                            {{end}}

                            <!-- Third column -->
                            <div class="col">
                                <p></p>
                                <button type="submit" name="reset" value="reset" style="float: right;">Reset
                                    filter</button>
                            </div>
                        </div>
                    </form>
                </div>

                <h2>Threads</h2>

                <!-- Div for each post -->
                <div class="allthreads">
                    {{range .Threads}}
                    <div class="threadbox">
                        <ul>
                            <li style="float: right;"><span
                                    class="material-symbols-outlined">comment</span>{{.RepliesN}}
                            </li>
                            <li>
                                <h3><a href="/thread/{{.ID}}">{{.Title}}</a></h3>
                            </li>
                            <li><span class="material-symbols-outlined">person</span><b>{{.Author}}</b> posted on
                                {{.CreatedDay}}
                                {{.CreatedTime}}</li>
                            <li class="content-line"><span class="material-symbols-outlined">chat_bubble</span><span
                                    class="truncate">{{.Content }}</span></li>
                            <li class="categories"><span class="material-symbols-outlined">category</span>{{ range
                                .CatsSlice }}{{.}} {{ end }}
                            </li>
                        </ul>
                    </div>
                    {{end}}
                </div>
            </div>

            <div class="rightnav">
                <!-- <p>rightnav: placeholder for rightnav</p> -->
            </div>

        </div>

        {{ template "footer" . }}

    </div>

    <script src="/static/ui-functions.js"></script>
    <script src="/static/home-functions.js"></script>
</body>

</html>