<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Registering</title>
    <link rel="stylesheet" href="/static/styles.css">

    <style>
        #username {
            width: 50ch;
        }

        #email {
            width: 50ch;
        }

        #pwd {
            width: 50ch;
        }
    </style>
</head>


<body>
    <div class="wrapper">
        {{ template "header" . }}
        <div class="container">
            <div class="leftnav">
                <p>leftnav: possible place to put categories</p>
            </div>
            <div class="content">
                <h2>Register new user</h2>
                <form method="POST" action="/register">
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username" required /><br>
                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email" required /><br>
                    <label for="pwd">Password:</label><br>
                    <input type="password" id="pwd" name="password" required /><br>
                    <button type="submit" style="margin-top: 1rem;">Register</button>
                    <p class="">Already have an account? <a href="/login">Login</a></p>
                    <p style="color:darkred;">{{.Message2}}</p>
                </form>
            </div>
            <div class="rightnav">
                <p>rightnav: placeholder for rightnav</p>
            </div>
        </div>
        {{ template "footer" . }}
    </div>
    
    <script src="/static/ui-functions.js"></script>

</body>

</html>