{{ define "reply" }}
<li>
    <!-- Content of reply -->
    <table>
        <tbody>
            <tr>
                <td rowspan="2" style="width: 10rem; color:rgb(122, 122, 122)">{{.Author}}<br>{{.CreatedDay}}<br>{{.CreatedTime}}</td>
                <td colspan="2">{{.Content}}</td>
            </tr>
            <tr>

                {{if .ValidSes}}
                <td class="like-dislike-cell">
                    <form action="/like" method="POST" class="like-form">
                        <input type="hidden" name="base_id" value="{{.BaseID}}">
                        <input type="hidden" name="post_id" value="{{.ID}}">
                        <input type="hidden" name="post_type" value="reply">

                        {{if .LikedNow}}
                        <button type="submit" title="Like" class="like-button" style="color: darkgreen"> &#9650; {{.Likes}}</button>
                        {{else}}
                        <button type="submit" title="Like" class="like-button"> &#9650; {{.Likes}}</button>
                        {{end}}

                    </form>
                    <form action="/dislike" method="POST" class="dislike-form">
                        <input type="hidden" name="base_id" value="{{.BaseID}}">
                        <input type="hidden" name="post_id" value="{{.ID}}">
                        <input type="hidden" name="post_type" value="reply">

                        {{if .DislikedNow}}
                        <button type="submit" title="Dislike" class="dislike-button" style="color:darkred"> &#9660; {{.Dislikes}}</button>
                        {{else}}
                        <button type="submit" title="Dislike" class="dislike-button"> &#9660; {{.Dislikes}}</button>
                        {{end}}

                    </form>
                </td>
                {{else}}
                <td>&#9650; {{.Likes}} &#9660; {{.Dislikes}}</td>
                {{end}}

                {{if .ValidSes}}
                <td><button class="reply-button" type="button">Reply</button></td>
                {{end}}
            </tr>
        </tbody>
    </table>

    <!-- Reply submission form -->
    <div class="reply-form-container" style="display: none; margin-left: 5rem;">
        <form method="POST" action="/reply">
            <textarea name="content" rows="4" placeholder="Message"></textarea><br>
            <input type="hidden" name="parentId" value="{{.ID}}">
            <input type="hidden" name="baseId" value="{{.BaseID}}">
            <button type="submit">Submit Reply</button>
            <input type="reset" value="Clear">
        </form>
    </div>

    <!-- Add child replies like defined in this file -->
    {{ if .Replies }}
    <div class="reply">
        <ul>
            {{ range .Replies }}
            {{ template "reply" . }}
            {{ end }}
        </ul>
    </div>
    {{ end }}
</li>
{{ end }}