{{ define "reply" }}
<li class="reply-and-form">
    <!-- Content of reply -->
    <div class="replies">

        <div class="thread">
            <ul>
                
                {{if .ValidSes}}
                <li class="like-dislike-cell"  style="float: right;">
                    <form action="/like" method="POST" class="like-form">
                        <input type="hidden" name="base_id" value="{{.BaseID}}">
                        <input type="hidden" name="post_id" value="{{.ID}}">
                        <input type="hidden" name="post_type" value="reply">

                        {{if .LikedNow}}
                        <button type="submit" title="Like" class="like-button" style="color: rgb(0, 165, 0)">
                            <span class="material-symbols-outlined">thumb_up</span>
                            {{.Likes}}</button>
                        {{else}}
                        <button type="submit" title="Like" class="like-button">
                            <span class="material-symbols-outlined">thumb_up</span>
                            {{.Likes}}</button>
                        {{end}}

                    </form>
                    <form action="/dislike" method="POST" class="dislike-form">
                        <input type="hidden" name="base_id" value="{{.BaseID}}">
                        <input type="hidden" name="post_id" value="{{.ID}}">
                        <input type="hidden" name="post_type" value="reply">

                        {{if .DislikedNow}}
                        <button type="submit" title="Dislike" class="dislike-button" style="color:rgb(227, 10, 21)">
                            <span class="material-symbols-outlined">thumb_down</span>
                            {{.Dislikes}}</button>
                        {{else}}
                        <button type="submit" title="Dislike" class="dislike-button">
                            <span class="material-symbols-outlined">thumb_down</span>
                            {{.Dislikes}}</button>
                        {{end}}

                    </form>
                </li>
                {{else}}
                <li style="float: right;">
                    <span class="material-symbols-outlined">thumb_up</span>{{.Likes}}
                    <span class="material-symbols-outlined">thumb_down</span>{{.Dislikes}}
                    </li>
                {{end}}
                <li><span class="material-symbols-outlined">person</span><b>{{.Author}}</b> posted on {{.CreatedDay}}
                    {{.CreatedTime}}</li>
                <li style="white-space: pre-wrap;">{{.Content}}</li>
                {{if .ValidSes}}
                <li><button class="reply-button" type="button">Reply</button></li>
                {{end}}
            </ul>
        </div>

    </div>


    <!-- Reply submission form -->
    <div class="reply-form-container" style="display: none; margin-left: 5rem;">
        <form method="POST" action="/reply">
            <textarea name="content" rows="4" placeholder="Message" maxlength="{{.ContentMaxLen}}" required></textarea><br>
            <input type="hidden" name="parentId" value="{{.ID}}">
            <input type="hidden" name="baseId" value="{{.BaseID}}">
            <button type="submit">Submit reply</button>
            <input type="reset" value="Clear" style="float: right;">
        </form>
    </div>

    <!-- Add child replies like defined in this file -->
    {{ if .Replies }}
    <div class="reply">
        <ul>
            {{ range .Replies }}
            {{ template "reply" . }}
            {{ end }}
        </ul>
    </div>
    {{ end }}
</li>
{{ end }}