<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Thread.Title}}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <!-- Thread starter -->
    <table>
        <thead>
            <tr>
                <th colspan="3">{{.Thread.Title}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2" style="width: 10rem; color:rgb(122, 122, 122)">{{.Thread.Author}}<br>{{.Thread.CreatedDay}}<br>{{.Thread.CreatedTime}}</td>
                <td colspan="2">{{.Thread.Content}}</td>
            </tr>
            <tr>
                <td style="width: 12rem; font-size: 0.8em">{{.Thread.Likes}} likes, {{.Thread.Dislikes}} dislikes</td>
                <td style="font-size: 0.8em">Categories: {{.Thread.Categories}}</td>
            </tr>
        </tbody>
    </table>



    <!-- Generate tree of replies recursively -->
    {{ if .Thread.Replies }}
    <div class="reply">
        <ul>
            {{ range .Thread.Replies }}
            {{ template "reply" . }}
            {{ end }}
        </ul>
    </div>
    {{ end }}

    <!-- Form to reply to OP -->
    {{if .ValidSes}}
    <h3>Add a reply</h3>
    <form method="POST" action="/reply">
        <textarea name="content" placeholder="Message" rows="3"></textarea><br>
        <input type="hidden" name="parentId" value="{{.Thread.ID}}">
        <input type="hidden" name="baseId" value="{{.Thread.BaseID}}">
        <p>
            <button type="submit">Reply</button>
            <input type="reset" value="Clear">
        </p>
    </form>
    {{else}}
    <h3><a href="/signin">Sign in</a> to join the conversation</h3>
    {{end}}

    <!-- Link back home -->
    <a href="/">Back to Front Page</a>

    <script>
        // Open and close reply-to-reply form with "Reply" button
        document.addEventListener("DOMContentLoaded", function () {
            const buttons = document.querySelectorAll(".reply-button");
            buttons.forEach(button => {
                button.addEventListener("click", function () {
                    const formContainer = this.closest("table").nextElementSibling;
                    if (formContainer.style.display === "none") {
                        formContainer.style.display = "block";
                    } else {
                        formContainer.style.display = "none";
                    }
                });
            });
        });
    </script>

</body>

</html>