<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Thread.Title}}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        .like-dislike-cell {
            padding: 0px;
            padding-left: 5px;
            white-space: nowrap;
        }

        .like-form,
        .dislike-form {
            display: inline;
        }

        .like-button,
        .dislike-button {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="wrapper">

        {{ template "header" . }}

        <div class="container">
            <div class="leftnav">
                <!-- <p>leftnav: possible place to put categories</p> -->
            </div>
            <!-- Thread starter -->
            <div class="content">

                <div class="thread">
                    <ul>

                        {{if .ValidSes}}
                        <li class="like-dislike-cell" style="float: right;">
                            <form action="/like" method="POST" class="like-form">
                                <input type="hidden" name="base_id" value="{{.Thread.BaseID}}">
                                <input type="hidden" name="post_id" value="{{.Thread.ID}}">
                                <input type="hidden" name="post_type" value="thread">

                                {{if .Thread.LikedNow}}
                                <button type="submit" title="Like" class="like-button" style="color: rgb(0, 165, 0);">
                                    <span class="material-symbols-outlined">thumb_up</span>
                                    {{.Thread.Likes}}</button>
                                {{else}}
                                <button type="submit" title="Like" class="like-button">
                                    <span class="material-symbols-outlined">thumb_up</span>
                                    {{.Thread.Likes}}</button>
                                {{end}}
                            </form>
                            <form action="/dislike" method="POST" class="dislike-form">
                                <input type="hidden" name="base_id" value="{{.Thread.BaseID}}">
                                <input type="hidden" name="post_id" value="{{.Thread.ID}}">
                                <input type="hidden" name="post_type" value="thread">

                                {{if .Thread.DislikedNow}}
                                <button type="submit" title="Dislike" class="dislike-button"
                                    style="color:rgb(227, 10, 21)">
                                    <span class="material-symbols-outlined">thumb_down</span>
                                    {{.Thread.Dislikes}}</button>
                                {{else}}
                                <button type="submit" title="Dislike" class="dislike-button">
                                    <span class="material-symbols-outlined">thumb_down</span>
                                    {{.Thread.Dislikes}}</button>
                                {{end}}
                            </form>
                        </li>
                        {{else}}
                        <li style="float: right;">
                            <span class="material-symbols-outlined">thumb_up</span>{{.Thread.Likes}}
                            <span class="material-symbols-outlined">thumb_down</span>{{.Thread.Dislikes}}
                        </li>
                        {{end}}
                        <li>
                            <h2>{{.Thread.Title}}</h2>
                        </li>
                        <li><span class="material-symbols-outlined">person</span><b>{{.Thread.Author}}</b> posted on
                            {{.Thread.CreatedDay}} {{.Thread.CreatedTime}}</li>
                        <li style="white-space: pre-wrap;">{{.Thread.Content}}</li>
                        <li class="categories"><span class="material-symbols-outlined">category</span>{{ range
                            .Thread.CatsSlice }}{{.}} {{
                            end }}
                        </li>
                    </ul>
                </div>

                <!-- Generate tree of replies recursively -->
                {{ if .Thread.Replies }}
                <div class="reply">
                    <ul style="padding-left: 0px;">
                        {{ range .Thread.Replies }}
                        {{ template "reply" . }}
                        {{ end }}
                    </ul>
                </div>
                {{ end }}

                <!-- Form to reply to OP -->
                {{if .ValidSes}}
                <h3>Add a reply</h3>
                <form method="POST" action="/reply">
                    <textarea name="content" placeholder="Message" rows="6" maxlength="{{.Thread.ContentMaxLen}}"
                        required></textarea><br>
                    <input type="hidden" name="parentId" value="{{.Thread.ID}}">
                    <input type="hidden" name="baseId" value="{{.Thread.BaseID}}">
                    <p>
                        <button type="submit">Reply</button>
                        <input type="reset" value="Clear" style="float: right;">
                    </p>
                </form>
                {{else}}
                <h3><a href="{{.LoginURL}}">Log in</a> to join the conversation</h3>
                {{end}}
            </div>

            <div class="rightnav">
                <!-- <p>rightnav: placeholder for rightnav</p> -->
            </div>

        </div>
        {{ template "footer" .}}
    </div>

    <script src="/static/ui-functions.js"></script>
    <script>
        // Store the scroll position before the page unloads
        window.addEventListener("beforeunload", () => {
            // use document title as key so other pages don't restore same position
            sessionStorage.setItem(`scrollPos-${document.title}`, window.scrollY);
        });

        // Restore the scroll position after the page loads
        window.addEventListener("load", () => {
            const scrollPosition = sessionStorage.getItem(`scrollPos-${document.title}`);
            if (scrollPosition) {
                window.scrollTo(0, parseInt(scrollPosition, 10));
            }
        });
    </script>

</body>

</html>