<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fika Café {{.Message}}</title>
    <link rel="stylesheet" href="/internal/static/css/styles.css">
</head>

<body>
    <div class="wrapper">
        {{ template "header" . }}

        <div class="container">
            <div class="leftnav">
               <!--  <p>leftnav: possible place to put categories</p> -->
            </div>
            <div class="content" style="text-align: center;">
                <h2 class="red-alert">ERROR {{.ErrorCode}}</h2>
                <h3 class="red-alert">{{.Message}}</h3>
                <hr style="width: 100%;">
                <p>In the meantime, please enjoy this comic from <a href="https://xkcd.com/">xkcd</a>:</p>
                <a href="https://xkcd.com/844/"><img src="https://imgs.xkcd.com/comics/good_code.png"
                        alt="Good Code" style="max-width: 100%; height: auto;"></a>
                <p></p>
            </div>
            <div class="rightnav">
                <!-- <p>rightnav: placeholder for rightnav</p> -->
            </div>
        </div>
        {{ template "footer" . }}
    </div>

    <script src="/internal/static/ui-functions.js"></script>
    <script src="/internal/static/home-functions.js"></script>

</body>

</html>