{{define "footer"}}
<footer>
    <div class="footer">
        <div class="footer-text"><a href="https://github.com/olegamobile/forum">grit:lab Fika Café forum</a> (2025) creators
        </div>
        <div class="author-container">
                <div><a href="https://github.com/MarkusYPA" class="authors" id="author-1">Markus</a></div>
                <div><a href="https://github.com/jeeeeedi" class="authors" id="author-2">Jedi</a></div>
                <div><a href="https://www.linkedin.com/in/anastasia-suhareva-09599651/" class="authors" id="author-3">Anastasia</a></div>
                <div><a href="https://github.com/cmbigk" class="authors" id="author-4">Chan</a></div>
                <div><a href="https://www.linkedin.com/in/oleg-balandin-0529065/" class="authors" id="author-5">Oleg</a></div>
        </div>
    </div>
</footer>
{{end}}