<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grit:lab Fika Café</title>
    <link rel="stylesheet" href="/internal/static/css/styles.css">
</head>

<body>
    <div class="wrapper">
        {{ template "header" . }}

        <div class="container">
            <div class="leftnav">
                <h2>Top 10 categories</h2>

                <form method="POST" action="/">
                    <input type="hidden" name="searchcat" value="search">
                    <div class="tags">
                        {{range .TopTenCategories}}
                        <button type="submit" class="tag" name="usersearch"
                            value="{{.}}">{{.}}</button>
                            {{ end }}
                    </div>
                </form>
            </div>

            <div class="content">

                <div class="rows">
                    <!-- Show filter button -->
                    <div class="fl-right"><button class="filter-button" id="filter-button"><span
                                class="material-symbols-outlined">filter_alt</span>Show filter</button></div>

                    {{if .ValidSes}}
                    <!-- Trigger/Open The Modal -->
                    <div class="fl-left"><button class="thread-button" id="modalBtn"><span
                                class="material-symbols-outlined">add</span>Start a new thread</button></div>

                    <!-- The Modal -->
                    <div class="newpost">
                        <!-- Form to start a thread -->
                        <div class="newpostModal" id="newpostModal">
                            <!-- Modal content -->
                            <div class="modal-content"> <span class="close">&times;</span>
                                <h3>Start a new thread</h3>
                                <form method="POST" action="/add" enctype="multipart/form-data">
                                    <input type="text" name="title" placeholder="Thread title"
                                        maxlength="{{.TitleMaxLen}}" required><br>
                                    <textarea name="content" placeholder="Message" rows="6"
                                        maxlength="{{.ContentMaxLen}}" required></textarea><br>
                                    <div class="row">
                                        <select name="categorySelector" id="categorySelector" onchange="updateCategory('categories', 'categorySelector')">
                                            <option value="" disabled selected>Choose category</option>
                                            {{range .CategoriesList}}
                                            <option value="{{.}}">{{.}}</option>
                                            {{end}}
                                        </select>
                                        <input type="text" name="categories" id="categories" placeholder="List categories" maxlength="{{.CategoriesMaxLen}}" required>
                                    </div><br>
                                    <label for="files" class="custom-file-button">Add Image</label>
                                    <button type="submit" id="submitButton" style="float: right;">Start thread</button>
                                    <input type="reset" value="Clear all" style="float: right;" />
                                    <input type="file" id="files" name="files" multiple accept="image/*"
                                        onchange="updateFileList()">
                                    <input type="hidden" id="selectedFileNames" name="selectedFileNames">
                                    <p id="warning" class="warning"></p>
                                    <div id="previewContainer" class="preview-container"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                    {{else}}
                    <div class="fl-left">
                        <p><a href="/login">Log in</a> or <a href="/register">register</a> to start posting!</p>
                        <p class="red-alert">{{.Message}}</p>
                    </div>
                    {{end}}
                </div>

                <!-- Filter -->
                <div id="show-filter">
                    <form method="POST" action="/">
                        <h3>Filter threads</h3>
                        <div class="filter-container">

                            <!-- First column -->
                            <div class="col">
                                 <div class="row">
                                    <select name="categorySelector" id="fCatSelect" onchange="updateCategory('usersearch', 'fCatSelect')">
                                        <option value="" disabled selected>Choose category</option>
                                        {{range .CategoriesList}}
                                        <option value="{{.}}">{{.}}</option>
                                        {{end}}
                                    </select>
                                    <input type="text" name="usersearch" id="usersearch" placeholder="Search categories" value="{{.Search}} ">
                                </div>
                                <div class="row"><input type="radio" id="any" name="multisearch" value="any" checked>
                                    <label for="any">Match any</label>
                                    <input type="radio" id="all" name="multisearch" value="all" {{if eq
                                        .Multisearch "all" }}checked="checked" {{end}}>
                                    <label for="all">Match all</label>
                                </div>
                                <div class="row"><button type="submit" name="searchcat" value="search">Search</button>
                                </div>
                            </div>

                            <!-- Second column -->
                            {{if .ValidSes}}
                            <div class="col">
                                <select name="todisplay" id="todisplay">
                                    <option value="all" {{if eq .Selection "all" }}selected{{end}}>All</option>
                                    <option value="created" {{if eq .Selection "created" }}selected{{end}}>Created by me
                                    </option>
                                    <option value="liked" {{if eq .Selection "liked" }}selected{{end}}>Liked by me
                                    </option>
                                    <option value="disliked" {{if eq .Selection "disliked" }}selected{{end}}>Disliked by
                                        me
                                    </option>
                                </select>
                                <button type="submit" name="updatesel" value="update">Show
                                    selection</button>
                            </div>
                            {{end}}

                            <!-- Third column -->
                            <div class="col">
                                <p></p>
                                <button type="submit" name="reset" value="reset" class="reset"
                                    style="float: right;">Reset filter</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- <h2>Threads</h2> -->

                <!-- Div for each post -->
                <div class="allthreads">
                    {{range .Threads}}
                    <div class="thread">
                        <div style="float: right;"><a href="/thread/{{.ID}}"><span
                                    class="material-symbols-outlined">comment</span>{{.RepliesN}}</a></div>
                        <div class="thread-title"><a href="/thread/{{.ID}}">{{.Title}}</a></div>
                        <div class="thread-meta"><span class="material-symbols-outlined">person</span>
                            <b>{{.Author}}</b> posted on {{.CreatedDay}} {{.CreatedTime}}</div>
                        <div class="thread-content"> <span class="truncate" style="word-break: break-word;">{{.Content }}</span></div>
                        <div class="row">
                            <div class="fl-left">
                                <form method="POST" action="/">
                                    <input type="hidden" name="searchcat" value="search">
                                    <div class="tags"><span class="material-symbols-outlined">category</span>
                                        {{ range .CatsSlice }}<button type="submit" class="tag" name="usersearch"
                                            value="{{.}}">{{.}}</button>{{ end }}
                                    </div>
                                </form>
                            </div>
                            <div class="fl-right tags likes">
                                <span class="material-symbols-outlined likes">Sentiment_Satisfied</span>{{.Likes}}&nbsp;
                                <span class="material-symbols-outlined likes">Sentiment_Dissatisfied</span>{{.Dislikes}}
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>

            <div class="rightnav">
                <!-- <p>rightnav: placeholder for rightnav</p> -->
            </div>

        </div>

        {{ template "footer" .}}

    </div>

    <script src="/internal/static/js/ui-functions.js"></script>
    <script src="/internal/static/js/home-functions.js"></script>
    <script src="/internal/static/js/image_upload.js"></script>
    <script src="/internal/static/js/categories.js"></script>
</body>

</html>